/* SCSS Variables*/




/* CSS Rules */

.navbar-container {
  height: auto;
}

.navbar-brand-container {
  height:auto;
}

.navbar-logo {
 width: 200px;
 max-height: 140px;
}

.menu-text {
  font-size: 1.25em;
}

.dropdown-item {
  font-size: 1.25em;
  color: #ffffff;
}

.dropdown-item:hover {
  font-size: 1.25em;
  color: #111111;
}

.dropdown-menu.show {
  background-color: #8C1E1F;
}




